/*   */

@font-face {
  font-family:Almadinah1 Light;
  src: url(Almadinah1.otf);
}

@font-face {
  font-family:Almadinah2 Regular;
  src: url(Almadinah2.otf);
}

@font-face {
  font-family:Almadinah3 Bold;
  src: url(Almadinah3.otf);
}

   