/*  
AL-Madinah Fonts
خط المدينة المنورة


 */

@font-face {
  font-family:Almadinah1 Light;
  src: url(https://github.com/Ahmad-JS/AL-Madinah-Font/raw/index/fonts/Almadinah1-Light.ttf);
}

@font-face {
  font-family:Almadinah2 Regular;
  src: url(https://github.com/Ahmad-JS/AL-Madinah-Font/raw/index/fonts/Almadinah2-Regular.ttf);
}

@font-face {
  font-family:Almadinah3 Bold;
  src: url(https://github.com/Ahmad-JS/AL-Madinah-Font/raw/index/fonts/Almadinah3-Bold.ttf);
}
  
   
